button {
    border: none;
  }
  .visitorHeading {
    font-size: 1.4em;
    font-weight: 500;
  }
  table {
    border-collapse: collapse;
    border: 1px solid #e3e3e3;
  }
  td {
    padding-block: 0.5em;
    padding-inline: 0.75em;
    font-size: 1.15em;
    font-weight: 400;
  }
  th {
    padding-block: 0.5em;
    padding-inline: 0.75em;
    font-size: 1.25em;
    font-weight: 600;
  }
  select {
    border: none;
    outline: none;
  }
  select:focus {
    border: none;
    outline: none;
  }
  input::-moz-selection {
    border: none;
    outline: none;
  }
  input {
    border: none;
  }
  input:focus {
    border: none;
    outline: none;
  }
  /* .ant-table-wrapper {
    border: 1px solid gray;
  }
   */